{% extends "base.html" %}
{% load static %}

{% block hero %}
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('{{ hotel.image.url }}');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home <i class="fa fa-chevron-right"></i></a></span> <span class="mr-2"><a href="{% url 'hotel' %}">Hotel <i class="fa fa-chevron-right"></i></a></span> <span>{{ hotel.name }} <i class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-0 bread">{{ hotel.name }}</h1>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ftco-animate py-md-5">
                <h2 class="mb-3">{{ hotel.name }}</h2>
                <div class="mb-3">
                   {% for i in "x"|rjust:hotel.star_rating %}
                   <span class="fa fa-star" style="color: #f85959;"></span>
                   {% endfor %}
                </div>
                <p><strong>Location:</strong> {{ hotel.location }}</p>
                <p><strong>Price:</strong> ${{ hotel.price }}/{{ hotel.price_unit }}</p>
                <p><strong>Duration:</strong> {{ hotel.duration }}</p>
                <p><a href="{% url 'book' 'hotel' hotel.id %}" class="btn btn-primary">Book Now</a></p>
                
                <div class="row mb-4">
                    <div class="col-md-12">
                        <ul class="list-unstyled d-flex">
                            <li class="mr-4"><span class="flaticon-shower"></span> {{ hotel.bath_count }} Baths</li>
                            <li class="mr-4"><span class="flaticon-king-size"></span> {{ hotel.bed_count }} Beds</li>
                            <li class="mr-4"><span class="flaticon-mountains"></span> {{ hotel.amenity }}</li>
                        </ul>
                    </div>
                </div>

                <div class="mt-4">
                    <h3>Description</h3>
                    <p>{{ hotel.description }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
